   
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Giỏ hàng của bạn</h4>
      </div>
      <div class="modal-body">
     

    <table class="table table-hover table-condensed table-bordered table-striped">
    <tr>
    <thead>
        <th class="active text-center"></th>
        <th class="active">Số sim</th>
        <th class="active">Giá tiền (VNĐ)</th>
        <th class="active"></th>
    </thead>
    </tr>
    {$tt=0}
    {foreach from=$mycart key=k item=v name=f}
    
    <tr>
        <td class="text-center">{$smarty.foreach.f.index+1}</td>
        <td>{$k}</td>
        <td>{($v*1000000)|number_format} VNĐ</td>
        <td class="text-center"><a href="javascript://" class="delcart" data-sim="{$k}"> <i class="glyphicon glyphicon-trash text-danger"></i></a></td>
    </tr>
    {$tt=$tt+$v}
    {/foreach}
    <tr>
    <td class="active" colspan="4">
    <h5 class="pull-right">
    Tổng tiền: <span id="total">{($tt*1000000)|number_format}</span> VNĐ
    </h5>
    </td>
    </tr>
    </table>
     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Chọn tiếp</button>
        {if isset($k)}
        <a href="{$thisdomain}/mua-sim-trong-gio-hang.htm" class="btn btn-primary">Mua sim trong giỏ</a>
        {/if}
      </div>
    </div>
      </form>
    