
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">{if isset($page_title)}{$page_title}{/if}</h1>
  </div>
  <div class="panel-body">
  <div class="table-condensed">
   


    {$page_detail}

      {section name =s loop = $seeding}

      <div class="well" style="border-radius: 5px; box-shadow: #eee 2px 2px 2px">
      {$row = $seeding[s]}


            <b>{$row.fullname}</b>
          <br>
          {$row.create_at}

          <hr>
          {$row.conment}
          <hr>


      </div>

      {/section}

   </div>
  </div>
</div>

{if isset($more)}
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Tin liên quan</h2>
  </div>
  <div class="panel-body">
   <ul style="max-height: 300px; overflow: auto;">
 
    {section name=d loop=$more}
    {$row=$more[d]}
   <li>
    <a href="/p/{$row.page_url}">{$row.page_title}</a>
    </li>
    {/section} 
   
 
    
  
    </ul>
  </div>
</div>
{/if}