

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">{if isset($name)}{$name}{/if} </h1>

  </div>
 
  {include file='locsim.htm'}
<table class="table table-borderedtable-condensed">

<thead>
<tr>

<th class="active center">STT</th>
<th class="active text-center">

Số sim


</th>
<th class="active sortprice text-center">Giá bán <span class="glyphicon"> <a class="pricetoogle" href="javascript://">
{if !isset($smarty.session.toggleprice)}
<span class="glyphicon-arrow-up"></span><span class="glyphicon glyphicon-arrow-down"></span>
{else if $smarty.session.toggleprice=='ASC'}
<span class="glyphicon glyphicon-arrow-up red"></span>
{else}
<span class="glyphicon glyphicon-arrow-down red"></span>
{/if}

</a>


</span></th>
<th class="active text-center">Điểm</th>
<th class="active center">Mạng</th>
<th class="hidden">Phong Thủy +/-</th>
<th class="active text-center">Đặt mua</th>
<th class="active text-center text-center">Giỏ</th>

</tr>
</thead>


{include file='table_body.htm'}

<tfoot>
<tr>
<td colspan="8" class="text-right"><ul class="pagination pagination-sm">{$paging}</ul></td>
</tr>
</tfoot>
</table>


</div>