<div class="container">

<div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title">Đăng ký thành viên</h2>
  </div>
  <div class="panel-body">
 
 
<form action="" method="POST" class="form-ajax form-horizontal">

<div class="form-group form-group-sm">
<label class="control-label col-md-4">Họ và tên:</label>
<div class="col-md-6">
<input name="fullname" class="form-control" />
</div>
</div>

<div class="form-group form-group-sm">
<label class="control-label col-md-4">Địa chỉ:</label>
<div class="col-md-6">
<input name="address" class="form-control" />
</div>
</div>

<div class="form-group form-group-sm">
<label class="control-label col-md-4">Điện thoại:</label>
<div class="col-md-6">
<input name="phone" class="form-control" />
</div>
</div>
<div class="form-group form-group-sm">

<div class="col-md-12">
<div class="bg-info">Thông tin đăng nhập</div>
</div>
</div>

<div class="form-group form-group-sm">
<label class="control-label col-md-4">Email:</label>
<div class="col-md-6">
<input name="email" class="form-control" />
</div>
</div>


<div class="form-group form-group-sm">
<label class="control-label col-md-4">Mật khẩu:</label>
<div class="col-md-6">
<input name="pass1" class="form-control" />
</div>
</div>

<div class="form-group form-group-sm">
<label class="control-label col-md-4">Xác nhận mật khẩu:</label>
<div class="col-md-6">
<input name="pass2" class="form-control" />
</div>
</div>

<div class="form-group">

<div class="col-md-12">
<div class="col-md-6">
<button class="btn btn-success pull-right">Đăng ký</button>
</div>
<div class="col-md-6"><button class="btn btn-info pull-left" type="reset">Làm lại</button></div>


</div>
</div>
</form>
 </div>
</div>
</div>