
<div class="container">
    {if isset($error)}
    
    <div class="alert alert-danger">{$error}</div>
    {/if}
    <div class="container">

      <form class="form-signin" action="index.php?do=user.login" method="post" autocomplete="off">
      <input type="hidden" name="do" value="user.login" />
        <h2 class="form-signin-heading"></h2>
        <input type="text" name="username" class="input-block-level form-control" placeholder="Email">
        <input type="password" name="password" class="input-block-level form-control" placeholder="Mật khẩu">
        <label class="checkbox">
          <input type="checkbox" value="remember-me">Lưu mật khẩu
        </label>
        <button class="btn btn-large btn-primary" type="submit">Đăng nhập</button>
        <a href="?do=user.resetpass">Quên mật khẩu</a>
      </form>
    
    </div>
    </div>