  
  
      <form class="ajax-form form-horizontal" action="index.php?ajax={$smarty.get.ajax}">
      <input name="ajax-submit" value="true" type="hidden" />
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
     
       
 <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary">Thêm m?i</button>
      </div>
    </div>
      </form>
  
  