
<div class="panel panel-default hidden-xs" id="search_box">

<div class="text-center">
 <div class="stv-search-bg text-primary" style="font-size: 32px; margin-top: -2px">
                
                </div>
     
     <div style="margin-top: -28px;" class="txttim">TÌM SIM SỐ ĐẸP</div>
</div>
  <div class="panel-body">
   
   <form id="search" action="index.php" class="form-horizontal">
   <input name="do" value="search" type="hidden">
  
      <input type="hidden" name="submit" value="true" />
    <div class="form-group">

   <div class="col-md-4 col-xs-12 col-lg-4">

   <select name="network" class="form-control strong">
   <option value="0">Chọn mạng di động</option>
    <option value="1">Viettel</option>
     <option value="2">Mobifone</option>
      <option value="3">Vinaphone</option>
       <option value="4">Vietnamobile</option>
       <option value="5">Gmobile</option>
   </select>
   </div>
   <div class="col-md-4 col-xs-6 col-lg-4 showgia ">
   
   <div class="input-group">
   <div class="input-group-addon font-12"> Giá từ:</div>
  
   
   <input name="giatu" class="form-control price" placeholder="100,000" />
   </div>
   </div>
   <div class="col-md-4 col-xs-6 col-lg-4 showgia">
      
   <div class="input-group">
   <div class="input-group-addon font-12">Đến:</div>
  
   
   <input name="den" class="form-control price" placeholder="10,000,000" />
   </div>

   </div>
 
 
 </div>
  
    

  <div class="form-group">
  <div class="input-group">
     <input name="sim" id="sim" value="{if isset($thiskey)}{$thiskey}{/if}" class="form-control pull-left popover-dismiss" placeholder="Nhập số sim bạn cần tìm" data-container="body" data-toggle="popover" data-placement="bottom" data-content=" - Sử dụng dấu <span class='red'>x</span> đại điện cho 1 số và dấu <span class='red'>*</span> đại điện cho một chuỗi số. <br /> + Để tìm sim bắt đầu bằng 098, quý khách nhập vào 098*<br /> + Để tìm sim kết thúc bằng 888, quý khách nhập vào *888<br /> + Để tìm sim bắt đầu bằng 098 và kết thúc bằng 888, nhập vào 098*888<br /> + Để tìm sim bên trong có số 888, nhập vào 888<br /> + Để tìm sim bắt đầu bằng 098 và kết thúc bằng 808, 818, 828, 838, 848, 858, 868, 878, 888, 898 nhập vào 098*8x8<br /> " title="Hướng dẫn tìm kiếm sim"  />
     <span class="input-group-btn"><button name="submit" class="btn btn-primary strong">Tìm sim</button></span>
  
  </div>

  </div>

   


   
 
   

   <div class="form-group text-center">

<strong class="state-danger font-12">Ví dụ:</strong> &nbsp;<a rel="nofollow" href="*888" class="hotkey">*888</a>, <a rel="nofollow" href="0912*68" class="hotkey">0912*68</a>, <a rel="nofollow" href="090*888" class="hotkey">090*888</a>, <a rel="nofollow" href="0913*" class="hotkey">0913*</a>, <a rel="nofollow" href="*6688" class="hotkey">*6688</a>

   
   </div>
   <div class="form-group text-center">
Sim 10 số <input type="radio" value="0" name="type" />
                 &nbsp; &nbsp;
             Sim 11 số <input type="radio" value="1" name="type" />
</div>
   <div class="form-group">
   <a href="#" class="pull-right" id="timnangcao" style="margin-right: 50px;"><strong>Tìm kiếm nâng cao</strong></a>
   
   </div>
   
   <div class="form-group text-center fullsearch" style="display: none;">
   
   Dãy số không gồm:
				<input name="n[]" value="1" type="checkbox"><span> 1 </span>
				<input name="n[]" value="2" type="checkbox"><span> 2 </span>
				<input name="n[]" value="3" type="checkbox"><span> 3 </span>
				<input name="n[]" value="4" type="checkbox"><span> 4 </span>
			<input name="n[]" value="5" type="checkbox"><span> 5 </span>
				<input name="n[]" value="6" type="checkbox"><span> 6 </span>
				<input name="n[]" value="7" type="checkbox"><span> 7 </span>
				<input name="n[]" value="8" type="checkbox"><span> 8 </span>
				<input name="n[]" value="9" type="checkbox"><span> 9 </span>
   </div>
   
   
   <div class="form-group text-center fullsearch" style=" display: none;">
    <div class="col-md-5 col-xs-6 col-md-offset-1">
                <div class="input-group">
                <div class="input-group-addon font-12">Tổng điểm:</div>
                <input name="tongdiem" maxlength="2" class="form-control mp0 " placeholder=" < 81" />
                </div>
                </div>
                
                
                
          <div class="col-md-5 col-xs-6">
                
                      <div class="input-group">
                <div class="input-group-addon font-12">Tổng Nút:</div>
                <input name="tongnut" maxlength="2" class="form-control mp0 " placeholder=" 1 -10" />
                </div>
                </div>        
                
   </div>



   </form>
   

   
  </div>
</div>

{if $nav}

<div class="panel panel-default hidden-xs">


 <ul id="navigation" style="margin: 0 auto;">
{$nav}
</ul>


</div>
<div class="clearfix"></div>
{/if}