   <input name="do" value="search" type="hidden" />
				<div class="form-group">
					<label>Chọn ngày</label>
					<input name="date" type="text" class="form-control input-sm datepicker" placeholder="dd/mm/yyyy" type="text">
				</div>
				<div class="row form-group">
					<div class="col-xs-12 text-center">
						<label> <input name="dtp" checked="checked" value="0" type="radio"> Tất cả</label> <label> <input name="dtp" value="2" type="radio"> m/d/y</label> <label> <input name="dtp" value="1" type="radio"> 19xx</label> 
					</div>
					<div class="col-xs-12 text-center margin-top"><input class="btn btn-default btn-sm" value="Tìm sim" type="submit"></div>
				</div>
                <input name="submit" value="true" type="hidden" />
			</form>